Source: erlang-p1-utils
Section: libs
Priority: optional
Maintainer: Mathias Ertl <mati@jabber.at>
XSBC-Orig-Maintainer: Philipp Huebner <debalance@debian.org>
Build-Depends: debhelper (>= 9), dh-rebar, dpkg-dev (>= 1.16.1~), erlang-syntax-tools
Standards-Version: 3.9.5
Homepage: https://github.com/processone/p1_utils
VCS-Git: https://github.com/jabber-at/p1_utils.git
VCS-Browser: https://github.com/jabber-at/p1_utils


Package: erlang-p1-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, erlang-base | ${erlang-abi:Depends},
         ${erlang:Depends}
Description: set of small Erlang libraries
 The libraries in this package were written for ejabberd which still
 uses them. They were split off into their own project to follow
 Erlang/OTP guidelines.
